<h4>Cadastro de Produtos</h4>
<p>Preencha os campos abaixo para cadastrar um novo produto.</p>
<hr/>

<form>

    <div class="mb-3">
        <label>Nome do produto:</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label>Preço:</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label>Quantidade:</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label>Tipo:</label>
        <select class="form-select">
            <option value="">Escolha uma opção</option>
            <option value="1">Físico</option>
            <option value="2">Digital</option>
            <option value="3">Serviço</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Categoria:</label>
        <select class="form-select">
            <option value="">Escolha uma opção</option>
        </select>
    </div> 
    
    <div class="mb-3">
        <input type="submit" class="btn btn-success shadow" 
            value="Realizar cadastro"/>
    </div>   

</form>
